/* DisplayStudentClasses Section */
.StudentClassesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;
  margin: 1rem;

  background-color: white;
}

.StudentClassesIndividualContainer,
.JoinNewClassContainer {
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  cursor: pointer;
  transition: all 1s ease-in-out;
}

.StudentClassesIndividualContainer:hover,
.JoinNewClassContainer:hover {
  box-shadow: 0 2px 8px rgba(0, 255, 183, 0.06);
}

.JoinNewClassContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

/* Page Section */
.PageContainer {
  display: flex;
  flex-direction: row;
}
