/* DisplayStudentSubmission Section */
.StudentSubmissionContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
  height: 100%;
}

.DisplayStudentSubmissionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* UploadStudentTest Section */
.UploadStudentTestContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.UploadStudentTestFileSubmissionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UploadStudentTestFileSubmissionContainer p {
  margin-bottom: 0.5rem;
}

.UploadStudentTestFileSubmissionInput {
  display: none;
}

.StudentSubmissionFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 1rem;

  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  background-color: white;
  border: 1px solid black;
}

/* Page Section */
.PageContainer {
  display: flex;
  flex-direction: row;
}

/* UserIdContext Section */
.PageNonContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}
