/* DisplayClasses Section */
.DisplayClassesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;
  margin: 1rem;

  background-color: white;
}

.DisplayClassesIndividualContainer {
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  cursor: pointer;
  transition: all 1s ease-in-out;
}

.DisplayClassesIndividualContainer:hover {
  box-shadow: 0 2px 8px rgba(0, 255, 183, 0.06);
}

/* Page Section */
.PageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.PageNonContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}
